/* :root will select the document's root element - in html that is always the html tag*/
:root {
    background-color: #399;
}

header, footer {
    outline: 1px solid #333;
    background-color: #999;
    box-shadow: 10px 10px 3px #222;
    margin-right: 20px;
    padding-left: 10px;
}

header, footer, section, main > button, main > div, span,
input#hideDisclaimer, main > h1, main > h2, main > h3, main > p,
main > table {
    margin-left: 10px;
    margin-right: 20px;
}

div {
    margin-bottom: 1px;
}

/*adds a line break after span elements */
/*span::after {
    content: "\A";
    white-space: pre;
}*/

form div {
    border: 1px solid #000;
    width: 300px;
    text-align: right;
    min-height: 26px;
}

form label {
    float: left;
}

hr, table, td {
    border: 1px solid #000;
}

table {
    width: 80%;
}

.hilite {
    background-color: yellow;
}

.outline {
    outline: 3px solid #ff0;
}

.makeRed {
    background-color: #f00;
    color: #fff;
}

.wrapChecked {
    outline: 3px solid red;
}

.wrappedPara, .divWrappedDiv {
    margin: 0;
}

#bio > div {
    background-color: #bed1d1;
    outline: 1px solid #000;
    margin-top: 0;
    padding: 10px;
}

#bio > h3 {
    background-color: #44bbff;
    outline: 1px solid #0026ff;
    margin-bottom: 0;
    cursor: pointer;
    padding: 2px 10px;
}

#bio {
    margin-bottom: 200px;
}


/* NAVIGATION ELEMENTS*/
nav {
    position: relative;
    height: 20px;
}

#navigation {
    position: absolute;
    width: inherit;
    top: 0;
    right: 0;
    margin: 0;
    height:60px;
}

    #navigation li {
        height: 20px;
        float: left;
        list-style-type: none;
        width: 70px;
        padding: 3px;
        border-right: 1px solid #3687AF;
        background-color: #015287;
        background-repeat: no-repeat;
        background-position: center 30px;
    }

    #navigation ul {
        padding: 0;
        margin: 0;
    }

    #navigation li a {
        color: #FFFFFF;
    }

    #navigation #home {
        background-image: url('images/home_icon.png');
    }

#navigationBlob {
    background-color: red;
}
